@import "tailwindcss";

:root {
    --color-brand-blue: #046fd9;
    --animate-bounce-subtle: bounce-subtle 3s infinite;
}

@keyframes bounce-subtle {

    0%,
    100% {
        transform: translateY(-5%);
    }

    50% {
        transform: translateY(0);
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #0f172a;
    }
}